* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-container {
  background: #46a6f7;
  height: 90px;
  width: 100%;
  color: #fff;
}
#nav {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
